# Node
auth/
node_modules/
Backend/node_modules/
frontend/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
*.env
Backend/.env

# Builds / assets
frontend/build/
frontend/build.zip
Backend/uploads/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Misc
*.log
*.tmp
