.health-page {
    background-color: #f9f9f9;
    color: #333;
    
}

.health-page h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.health-page ul {
    list-style-type: none;
    padding: 0;
}

.health-page ul li {
    margin: 10px 0;
}

.health-page ul li a {
    text-decoration: none;
    color: #007bff;
}

.health-info-section {
    display: flex;
    align-items: left;
    margin: 20px 0;
    padding: 6rem 5rem;
}

.health-image {
    flex: 1;
    padding: 10px;
}

.health-image img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.health-description {
    flex: 1;
    padding: 10px;
}

.health-description h2 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

.health-description p {
    font-size: 1em;
    line-height: 1.5;
}

.brush-stroke {
    position: absolute;
    top: -30px;
    left: -30px;
    right: 30px;
    bottom: 30px;
    background: #fff;
    border-radius: 20px;
    z-index: 1;
    opacity: 0.1;
} 